CompileFlags:
  Add:
    - -I/Users/tamimdostyar/Documents/personal/buddySystem/buddyOS/alloc/src
    - -I/Users/tamimdostyar/Documents/personal/buddySystem/buddyOS/kernel/src
    - -m32
    - -ffreestanding